<div class="form-component-group form-group row">
  <label for="exampleFormControlInput1">Código de barras</label>
  <input type="text" class="form-control" id="barCode" ng-model="$ctrl.product.barCode" required>
</div>

<div class="form-component-group form-group row">
  <label for="exampleFormControlInput1">Nome</label>
  <input type="text" class="form-control" id="name" ng-model="$ctrl.product.name" required>
</div>

<div class="form-component-group form-group row">
  <label for="exampleFormControlInput1">Descrição</label>
  <input type="text" class="form-control" id="description" ng-model="$ctrl.product.description" required>
</div>

<div class="form-component-group form-group row">
  <label for="exampleFormControlInput1">Quantidade</label>
  <input type="number" class="form-control" id="quantity" ng-model="$ctrl.product.quantity" required>
</div>

<div class="form-component-group form-group row">
  <label for="exampleFormControlInput1">Categoria</label>
  <input type="text" class="form-control" id="category" ng-model="$ctrl.product.category" required>
</div>