<div class="modal fade" id="modalConfirmation" tabindex="-1" role="dialog" aria-labelledby="ModelCentredTitle"
data-backdrop="static" data-keyboard="false"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModelCentredTitle">Confirmação</h5>
      </div>
      <div class="modal-body">
        Você tem certeza que deseja cancelar o cadastro?
       
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" ng-click="$ctrl.close({answer:true});">Sim</button>
        <button type="button" class="btn btn-secondary"  ng-click="$ctrl.close({answer:false});">Não</button>
      </div>
    </div>
  </div>
</div>