<div class="home-page container mt-3">
    <div class="row">
        <div class="col">
            <div class="home-page__banner">
            </div>

            <div class="home-page__header">
                <strong class="h2">
                    Listagem de produtos
                </strong>
                <button type="button" class="btn btn-success float-right w-20" ng-click="$ctrl.onCreate()">+</button>
            </div>

            <app-alert></app-alert>

            <div class="content">
                <blockquote class="blockquote text-center" ng-if="!$ctrl.productList.length">
                    <p class="mb-0">
                        Não há produtos cadastrados.
                    </p>
                </blockquote>


                <app-modal-confirmation close="$ctrl.onModelConfirmationClose({answer})">
                </app-modal-confirmation>

                <app-modal-form product="$ctrl.product" submit="$ctrl.onFormSubmit({product})"
                    state="{{$ctrl.modalFormState}}"></app-modal-form>

                <app-table product-list="$ctrl.productList" on-edit="$ctrl.onEdit(product)"
                    on-delete="$ctrl.onDelete(product)" ng-if="$ctrl.productList.length"></app-table>


            </div>
        </div>
    </div>
</div>